language: java
sudo: required
matrix:
  include:
  - jdk: openjdk11
addons:
  sonarcloud:
    organization: exasol
  apt:
    packages:
    - shellcheck
before_install:
- nvm install 12
install:
- travis_retry mvn dependency:resolve
- npm install -g bootprint bootprint-json-schema
before_script:
  - tools/version.sh verify
script:
- shellcheck .ci/*.sh
- mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent org.jacoco:jacoco-maven-plugin:prepare-agent-integration
  verify sonar:sonar -Dsonar.login=${SONAR_TOKEN} -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml,target/site/jacoco-it/jacoco.xml,target/site/jacoco-udf/jacoco.xml
after_script:
- |- #generate documentation and push to github pages
  if [[ "$TRAVIS_BRANCH" = "master" && "$TRAVIS_PULL_REQUEST" = "false" ]] ; then
    source .ci/setup-ssh.sh || travis_terminate 1
    .ci/generateDocumentation.sh || travis_terminate 1
  fi
cache:
  directories:
  - "$HOME/.m2"
